<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SenpaiBook.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A40E54822C1CE6700456AD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A40E55E22C1CE6900456AD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A40E56922C1CE6900456AD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
